<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="./bootstrap.php"
         colors="true">
    <groups>
        <exclude>
            <group>disable</group>
        </exclude>
    </groups>

    <testsuites>
        <testsuite name="PHP Value Objects test suite">
            <directory>./VoTest</directory>
        </testsuite>
    </testsuites>
</phpunit>
